<?xml version="1.0" encoding="UTF-8"?>
<properties>
    <entry key="server.host">http://localhost</entry>
    <entry key="server.port">8080</entry>
    <entry key="db.host">localhost</entry>
    <entry key="db.port">27017</entry>
    <entry key="db.name">local</entry>
    <entry key="db.collection">alarms</entry>
    <entry key="logger.enable">true</entry>
    <entry key="logger.level">INFO</entry>
</properties>
